*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
body{
    background-image: url("https://i.ibb.co/JFNTkD2/night-sky-colorful-3840x2160-12510.jpg");
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}
.date a{
    text-decoration: none;
    color: white;
}
.day a{
    text-decoration: none;
    color: white;
}
.calender{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 20px 600px 600px;
    row-gap: 25px;
    column-gap: 25px;
    font-size: 1.5em;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 50px;
    border-radius: 50px;
    color: white; 
}
h1{
    font-size: 60px;
    text-align: center;
    letter-spacing: 20px;
    padding-top: 200px;
    color: white;
}